<a href="https://colab.research.google.com/github/JavairiaMujahed/task-1/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing module
import pandas as pd

#This line of code is importing a specific tool for data analysis in Python called Pandas.

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#This code snippet imports three essential Python libraries commonly used in data science for numerical computations, plotting, and creating statistical visualizations

In [7]:
#importing the dataset by reading the csv file
data = pd.read_csv('/netflix_data.csv')

#displaying the first five rows of dataset
print(data.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [8]:
#displayinf last five rows of dataset
data.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [9]:
data.shape

(8807, 12)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [11]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [12]:
data.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
data.isna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
data.isna().any()

show_id         False
type            False
title           False
director         True
cast             True
country          True
date_added       True
release_year    False
rating           True
duration         True
listed_in       False
description     False
dtype: bool

In [15]:
data.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [16]:
data.isna().any().sum()

np.int64(6)

In [17]:
# Assuming your DataFrame is called 'data' and you want to drop the column 'column_name'
data = data.drop('director', axis=1)

In [18]:
data = data.drop('cast', axis=1)

In [19]:
data.isna().sum()

show_id           0
type              0
title             0
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [20]:
data.fillna(value=0, method=None, axis=None, inplace=False, limit=None, downcast=None)

<ipython-input-20-cd114e36058f>:1: FutureWarning: The 'downcast' keyword in fillna is deprecated and will be removed in a future version. Use res.infer_objects(copy=False) to infer non-object dtype, or pd.to_numeric with the 'downcast' keyword to downcast numeric results.
  data.fillna(value=0, method=None, axis=None, inplace=False, limit=None, downcast=None)

,show_id,type,title,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,0,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,0,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,0,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [21]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Length: 8807, dtype: bool

In [22]:
data.duplicated().value_counts()

False    8807
Name: count, dtype: int64

In [23]:
data.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,show_id,type,title,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [24]:
data.duplicated().value_counts()

False    8807
Name: count, dtype: int64

In [25]:
data.dtypes

show_id         object
type            object
title           object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [28]:
# Ensure 'date_added' is in datetime format
data['date_added'] = pd.to_datetime(data['date_added'], errors='coerce')

# Convert to 'dd-mm-yyyy' format
data['date_added'] = data['date_added'].dt.strftime('%d-%m-%Y')

<ipython-input-28-ad253fddff81>:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['date_added'] = pd.to_datetime(data['date_added'], errors='coerce')

In [29]:
data.columns

Index(['show_id', 'type', 'title', 'country', 'date_added', 'release_year',
       'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [30]:
list(data.columns)

['show_id',
 'type',
 'title',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [31]:
# Rename specific columns using a dictionary
data = data.rename(columns={'listed_in': 'genre'})

In [32]:
list(data.columns)

['show_id',
 'type',
 'title',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'genre',
 'description']

In [33]:
#genre column has multiple values separated by commas which could mess up my reporting
#so i decided to split them into separate columns instead

data[['genre1', 'genre2', 'genre3']] = data['genre'].str.split(',', expand=True)

In [34]:
print(data.head())

  show_id     type                  title        country  date_added  \
0      s1    Movie   Dick Johnson Is Dead  United States  25-09-2021
1      s2  TV Show          Blood & Water   South Africa  24-09-2021
2      s3  TV Show              Ganglands            NaN  24-09-2021
3      s4  TV Show  Jailbirds New Orleans            NaN  24-09-2021
4      s5  TV Show           Kota Factory          India  24-09-2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons

                                               genre  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description                  genre1  \
0  As her father nears the end of his life, filmm...           Documentaries
1  After crossing paths at a party, a Cape Town t...  International TV Shows
2  To protect his family from a powerful drug lor...          Crime TV Shows
3  Feuds, flirtations and toilet talk go down amo...              Docuseries
4  In a city of coaching centers known to train I...  International TV Shows

                    genre2                  genre3
0                     None                    None
1                TV Dramas            TV Mysteries
2   International TV Shows   TV Action & Adventure
3               Reality TV                    None
4        Romantic TV Shows             TV Comedies

In [35]:
#duration is in seasons and minutes which is not clear, and incorrect data type
data['duration'].value_counts()

duration
1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
97 min        146
             ...
228 min         1
18 min          1
205 min         1
201 min         1
191 min         1
Name: count, Length: 220, dtype: int64

In [36]:
#i will now drop the combined genre column as i have created the splitted columns which give a more organised look
data = data.drop('genre', axis=1)

In [38]:
#an issue i faced was tv shows and movies have been put into the same dataset and their durations are in seasons and minutes
#respectively, so i decided to assume that each season of a TV show has approximately 30 episodes and each episode's runtime
#is about 25 minutes so i'm doing the conversion into minutes accordingly

data['duration_numeric']=data['duration'].str.extract('(\d+)').astype(float)

#now converting durations into minutes based on their units
# Use na=False to handle missing values in 'duration' column
data.loc[data['duration'].str.contains('min', na=False),'duration_numeric']
 #no conversion needed for minutes
# Use na=False to handle missing values in 'duration' column
data.loc[data['duration'].str.contains('Season', na=False),'duration_numeric']*=30*25
#1 season, 30 episodes, 25 minutes each

In [39]:
print(data)

     show_id     type                  title        country  date_added  \
0         s1    Movie   Dick Johnson Is Dead  United States  25-09-2021
1         s2  TV Show          Blood & Water   South Africa  24-09-2021
2         s3  TV Show              Ganglands            NaN  24-09-2021
3         s4  TV Show  Jailbirds New Orleans            NaN  24-09-2021
4         s5  TV Show           Kota Factory          India  24-09-2021
...      ...      ...                    ...            ...         ...
8802   s8803    Movie                 Zodiac  United States  20-11-2019
8803   s8804  TV Show            Zombie Dumb            NaN  01-07-2019
8804   s8805    Movie             Zombieland  United States  01-11-2019
8805   s8806    Movie                   Zoom  United States  11-01-2020
8806   s8807    Movie                 Zubaan          India  02-03-2019

      release_year rating   duration  \
0             2020  PG-13     90 min
1             2021  TV-MA  2 Seasons
2             2021  TV-MA   1 Season
3             2021  TV-MA   1 Season
4             2021  TV-MA  2 Seasons
...            ...    ...        ...
8802          2007      R    158 min
8803          2018  TV-Y7  2 Seasons
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                            description  \
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

                        genre1                   genre2  \
0                Documentaries                     None
1       International TV Shows                TV Dramas
2               Crime TV Shows   International TV Shows
3                   Docuseries               Reality TV
4       International TV Shows        Romantic TV Shows
...                        ...                      ...
8802               Cult Movies                   Dramas
8803                  Kids' TV          Korean TV Shows
8804                  Comedies            Horror Movies
8805  Children & Family Movies                 Comedies
8806                    Dramas     International Movies

                      genre3  duration_numeric
0                       None              90.0
1               TV Mysteries            1500.0
2      TV Action & Adventure             750.0
3                       None             750.0
4                TV Comedies            1500.0
...                      ...               ...
8802               Thrillers             158.0
8803             TV Comedies            1500.0
8804                    None              88.0
8805                    None              88.0
8806        Music & Musicals             111.0

[8807 rows x 13 columns]

In [40]:
#I shall now drop the original duration column

data = data.drop('duration', axis=1)

In [41]:
data.head()

,show_id,type,title,country,date_added,release_year,rating,description,genre1,genre2,genre3,duration_numeric
0,s1,Movie,Dick Johnson Is Dead,United States,25-09-2021,2020,PG-13,"As her father nears the end of his life, filmm...",Documentaries,None,None,90.0
1,s2,TV Show,Blood & Water,South Africa,24-09-2021,2021,TV-MA,"After crossing paths at a party, a Cape Town t...",International TV Shows,TV Dramas,TV Mysteries,1500.0
2,s3,TV Show,Ganglands,NaN,24-09-2021,2021,TV-MA,To protect his family from a powerful drug lor...,Crime TV Shows,International TV Shows,TV Action & Adventure,750.0
3,s4,TV Show,Jailbirds New Orleans,NaN,24-09-2021,2021,TV-MA,"Feuds, flirtations and toilet talk go down amo...",Docuseries,Reality TV,None,750.0
4,s5,TV Show,Kota Factory,India,24-09-2021,2021,TV-MA,In a city of coaching centers known to train I...,International TV Shows,Romantic TV Shows,TV Comedies,1500.0

In [42]:
data.dtypes

show_id              object
type                 object
title                object
country              object
date_added           object
release_year          int64
rating               object
description          object
genre1               object
genre2               object
genre3               object
duration_numeric    float64
dtype: object

In [43]:
# Convert multiple columns to string type
columns_to_convert = ['type', 'country', 'description', 'genre1', 'genre2', 'genre3']
data[columns_to_convert] = data[columns_to_convert].astype('string')

In [44]:
data.dtypes

show_id                     object
type                string[python]
title                       object
country             string[python]
date_added                  object
release_year                 int64
rating                      object
description         string[python]
genre1              string[python]
genre2              string[python]
genre3              string[python]
duration_numeric           float64
dtype: object

In [54]:
data.to_csv('cleaned_netflix_data.csv', index=False)

In [50]:
import os
print(os.getcwd())

/content

In [51]:
data.to_csv('/content/cleaned_netflix_data.csv', index=False)

In [52]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import os

filename = 'cleaned_netflix_data.csv'
# Save the file to your Google Drive in a folder called 'Netflix_Data'
# Create this folder in your Google Drive if it doesn't exist
folder_path = '/content/drive/My Drive/Netflix_Data/'

# Check if the folder exists, and create it if it doesn't
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

data.to_csv(os.path.join(folder_path, filename), index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
data.isna().any()

show_id             False
type                False
title               False
country              True
date_added           True
release_year        False
rating               True
description         False
genre1              False
genre2               True
genre3               True
duration_numeric     True
dtype: bool

In [59]:
data.isna().sum()

show_id                0
type                   0
title                  0
country              831
date_added            98
release_year           0
rating                 4
description            0
genre1                 0
genre2              2020
genre3              5078
duration_numeric       3
dtype: int64

In [65]:
data.fillna(value="unknown", method=None, axis=None, inplace=False, limit=None, downcast=None)

<ipython-input-65-cb56228e83ee>:1: FutureWarning: The 'downcast' keyword in fillna is deprecated and will be removed in a future version. Use res.infer_objects(copy=False) to infer non-object dtype, or pd.to_numeric with the 'downcast' keyword to downcast numeric results.
  data.fillna(value="unknown", method=None, axis=None, inplace=False, limit=None, downcast=None)

,show_id,type,title,country,date_added,release_year,rating,description,genre1,genre2,genre3,duration_numeric
0,s1,Movie,Dick Johnson Is Dead,United States,25-09-2021,2020,PG-13,"As her father nears the end of his life, filmm...",Documentaries,unknown,unknown,90.0
1,s2,TV Show,Blood & Water,South Africa,24-09-2021,2021,TV-MA,"After crossing paths at a party, a Cape Town t...",International TV Shows,TV Dramas,TV Mysteries,1500.0
2,s3,TV Show,Ganglands,unknown,24-09-2021,2021,TV-MA,To protect his family from a powerful drug lor...,Crime TV Shows,International TV Shows,TV Action & Adventure,750.0
3,s4,TV Show,Jailbirds New Orleans,unknown,24-09-2021,2021,TV-MA,"Feuds, flirtations and toilet talk go down amo...",Docuseries,Reality TV,unknown,750.0
4,s5,TV Show,Kota Factory,India,24-09-2021,2021,TV-MA,In a city of coaching centers known to train I...,International TV Shows,Romantic TV Shows,TV Comedies,1500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,United States,20-11-2019,2007,R,"A political cartoonist, a crime reporter and a...",Cult Movies,Dramas,Thrillers,158.0
8803,s8804,TV Show,Zombie Dumb,unknown,01-07-2019,2018,TV-Y7,"While living alone in a spooky town, a young g...",Kids' TV,Korean TV Shows,TV Comedies,1500.0
8804,s8805,Movie,Zombieland,United States,01-11-2019,2009,R,Looking to survive in a world taken over by zo...,Comedies,Horror Movies,unknown,88.0
8805,s8806,Movie,Zoom,United States,11-01-2020,2006,PG,"Dragged from civilian life, a former superhero...",Children & Family Movies,Comedies,unknown,88.0
8806,s8807,Movie,Zubaan,India,02-03-2019,2015,TV-14,A scrappy but poor boy worms his way into a ty...,Dramas,International Movies,Music & Musicals,111.0

In [66]:
data.isna().sum()

show_id                0
type                   0
title                  0
country              831
date_added            98
release_year           0
rating                 4
description            0
genre1                 0
genre2              2020
genre3              5078
duration_numeric       3
dtype: int64

In [67]:
data = data.fillna(method='ffill')

<ipython-input-67-449dda89d9c2>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data = data.fillna(method='ffill')

In [68]:
data.isna().sum()

show_id             0
type                0
title               0
country             0
date_added          0
release_year        0
rating              0
description         0
genre1              0
genre2              1
genre3              1
duration_numeric    0
dtype: int64

In [69]:
data = data.fillna({'genre2': 'Unknown', 'genre3': 'Unknown'})

In [70]:
data.isna().sum()

show_id             0
type                0
title               0
country             0
date_added          0
release_year        0
rating              0
description         0
genre1              0
genre2              0
genre3              0
duration_numeric    0
dtype: int64

In [71]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import os

filename = 'cleaned_netflix_data.csv'
# Save the file to your Google Drive in a folder called 'Netflix_Data'
# Create this folder in your Google Drive if it doesn't exist
folder_path = '/content/drive/My Drive/Netflix_Data/'

# Check if the folder exists, and create it if it doesn't
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

data.to_csv(os.path.join(folder_path, filename), index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).